@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vp-c-brand-1: #6e8a13;
    --vp-button-brand-bg: #6e8a13;
    --vp-button-brand-hover-bg: #87a321;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #6e8a13,
        #87a321
    );

    --pp-theme-color: theme('colors.green.500');
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
    font-weight: 800;
}

.main .vp-doc h6 {
    color: #71717a; /* TW zinc-500 */
    font-weight: 700;
}

.iframe-demo {
    @apply h-[350px] w-full rounded-lg border border-zinc-300/80 shadow-sm;
}

#app {
    @apply h-screen min-h-screen;
}
